<div class="box">
    <div class="col-md-1"></div>
    <div class="col-md-10" *ngFor="let productss of products | async">

        <div class="col-md-12 end-box">
            <strong>
                <h4 class="center" style="color:white; font-weight: bold; font-size: 20px;">Shopping Basket</h4>
            </strong>
        </div>

        <div class="center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-size" style="text-align: center;">Product Name</th>
                        <th scope="col" class="text-size" style="text-align: center;">Price</th>
                        <th scope="col" class="text-size" style="text-align: center;">Quantity</th>
                        <th scope="col" class="text-size" style="text-align: center;">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <td> {{ productss.name }} </td>
                        <td> {{ productss.price }} </td>
                        <td> 1 </td>
                        <td> {{ productss.price }} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="box-order-summary">
            <div class="col-md-6"></div>

            <div class="col-md-6">
                <div class="col-md-12 end-box">
                    <strong>
                        <h4 class="center" style="color:white; font-size: 15px; font-weight: bold; font-size: 20px;">Order
                            Summary</h4>
                    </strong>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr style="font-weight: bold;">
                            <td>Price</td>
                            <td> {{ productss.price }} </td>
                        </tr>
                        <tr style="font-weight: bold;">
                            <td>Shipping charge</td>
                            <td>Free</td>
                        </tr>
                        <tr style="font-weight: bold;">
                            <td>Subtotal</td>
                            <td> {{ productss.price }} </td>
                        </tr>
                    </tbody>
                </table>
                <div class="center">
                    <a class="btn btn-primary" *ngIf="!isLogined" (click)="routpage('/login')">Submit</a>
                    <a class="btn btn-primary" *ngIf="isLogined" (click)="routpage('/profile')">Submit</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>