<div class="box">
    <div class="col-md-1"></div>
    <div class="col-md-10">
  
      <div class="col-md-12 end-box"> 
        <strong><h1 class="center" style="color:white;">Order</h1></strong> 
      </div>
  
      <div class="center">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-size">Number</th>
                  <th scope="col" class="text-size">List Order</th>
                  <th scope="col" class="text-size">Price</th>
                  <th scope="col" class="text-size">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active">
                  <th scope="row" class="text-size2">Active</th>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
                <tr>
                  <th scope="row" class="text-size2">Default</th>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
                <tr class="table-primary">
                  <th scope="row" class="text-size2">Primary</th>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
                <tr class="table-secondary">
                  <th scope="row" class="text-size2">Secondary</th>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
                <tr class="table-success">
                  <th scope="row" class="text-size2">Success</th>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
              </tbody>
            </table>
      </div>
      
    </div>
    <div class="col-md-1"></div>  
</div>