<div class="box">
  <div class="row" *ngFor="let productss of products | async">
    <div class="col-md-1"></div>
    <div class="col-md-5">

      <h2 class="center" style="font-weight: bold;"> Name : {{ productss.name }} </h2>

      <div class="img-detail">
        <div class="row">
          <div class="thumbnail product-box">
            <img src="{{ productss.img }}" alt="" width="50%" height="auto" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="box-detail-header">
        <h3 style="font-weight: bold;"> Detail </h3>
      </div>
      <div class="box-detail">
        <p>Brand: {{ productss.brand }}</p>
        <p>Category: {{ productss.category }}</p>
        <p>Type: {{ productss.type }}</p>
        <p>Color: {{ productss.color }}</p>
        <p>Size: {{ productss.size }}</p>
        <p>Price: {{ productss.price }}</p>
      </div>
      <div class="box-cart">
        <a href="/cart" class="btn btn-success" role="button" [routerLink]="[ '/cart', productss.name ]">Add To Cart</a>
      </div>
    </div>


    <div class="col-md-1"></div>
  </div>
</div>