<div class="box">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <div class="col-md-12 end-box">
      <strong>
        <h4 class="center" style="color:white; font-weight: bold; font-size: 20px;">MY PROFILE</h4>
      </strong>
    </div>

    <div class="col-md-6">
      <div class="center">
        <img src="assets/img/user.png" alt="user" style="width:200px; height:200px; margin: 30px 0px 30px 0px; border-radius: 50%;">
      </div>
    </div>
    <div class="col-md-6">
      <div class="box-detail-user">
        <p> Username: Username </p>
        <p> Email: Email@email.com </p>
      </div>
      <a href="#" type="submit" class="btn btn-primary">Edit Profile</a>
    </div>

    <div class="col-md-12 end-box">
      <strong>
        <h4 class="center" style="color:white; font-weight: bold; font-size: 20px;">Order History</h4>
      </strong>
    </div>

    <div class="center">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-size" style="text-align: center;">Number</th>
            <th scope="col" class="text-size" style="text-align: center;">List Order</th>
            <th scope="col" class="text-size" style="text-align: center;">Price</th>
            <th scope="col" class="text-size" style="text-align: center;">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <td>Active</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>Active</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="table-primary">
            <td>Active</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="table-secondary">
            <td>Active</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="table-success">
            <td>Active</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>